PORT=4000
MONGO_URI=your-mongodb+srv://<username>:<password>@cluster0.mongodb.net/expense-tracker?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtkey
CLIENT_URL=http://localhost:5173
NODE_ENV=development
